.input-filler {
  padding: 3% 0%;
  border-bottom: 3px solid white;
  display: flex;

  margin-bottom: 3%;
}

.input-filler img {
  width: 36px;
  height: 36px;
  text-align: right;
}

.input-filler input {
  outline: none;
  font-size: 1.2em;
  flex-grow: 1;
  text-align: left;
}