.card-container {
    background-color: #334155;
    border-radius: 1.2em;
    padding: 0em 0.9em 0.3em 0.9em;
    width: 20em;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-row {
    display: flex;
    font-size: 1.5em;
    width: 100%;
    max-height: 3em;
    justify-content: space-between;
}

.title-row img {
    width: 32px;
    height: 32px;
    margin-top: 0.72em;
}

.title-row h4 {
    margin-top: 5%;
}

.value-left {
    font-weight: normal;
    color: #94A3B8;
    text-align: left;
    width: 80%;
    display: flex
}

.value-right {
    text-align: right;
    width: 20%;
}

.subtitle-container {
    margin-bottom: 0.5em;
}

.subtitle-container p {
    margin: 0;
}

.subtitle-values {
    display: flex;
    font-size: 1em;
    width: 100%;
    font-weight: 800;
}

.subtitle-values p {
    margin-right: 0.4em;
}