.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
}

h2 {
    font-size: 2vw;
}

.login-btn {
    font-weight: 600;
}

.navigation-labels {
    display: flex;
}

.header-item {
    flex-grow: 1;
    justify-content: center;
}

.first-item {
    text-align: left;
}

.last-item {
    text-align: right;
}

.navigation-header {
    color: #E2E8F0;
    padding: 0 2vw;
}

.navigation-header:hover {
    color: white;
}

.header-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-mobile img {
    width: 32px;
    height: 32px;
}

.mobile-header-item {
    flex-grow: 1;
    text-align: center;
    padding: 0% 0 3% 0;
}

.mobile-first-item {
    text-align: left;
}

.mobile-last-item {
    text-align: right;
}

@media screen
{
    .header {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .header-mobile {
        visibility: visible;
        width: auto;
        height: auto
    }

    .header-menu-btn {
        padding: 5% 15%;
        border-radius: 9px;
    }

    .header-login-btn {
        padding: 5% 15%;
        border-radius: 9px;
    }
}

@media screen and (min-width: 960px) 
{
    .header-mobile {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .header {
        visibility: visible;
        width: auto;
        height: auto;
    }

    .header-login-btn {
        padding: 5% 15%;
        border-radius: 12px;
    }
}