.panel-container {
    padding: 1% 3% 0% 3%;
    width: 420px;
}

.panel-container h1 {
    text-align: center;
    margin-bottom: 5%;
}

.panel-container {
    background-color: #0F172A;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-inline: auto;
    border-radius: 5%;
}

.control-underfield {
    padding: 5% 0%;
    display: flex;
}

.control-underfield label {
    flex-grow: 1;
    text-align: left;
}

.control-underfield a {
    flex-grow: 1;
    text-align: right;
    color: white;
    font-size: 0.9em;
}

.panel-login-btn {
    margin-top: 5%;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: -2%;
}

.panel-signup-btn {
    margin-top: 10%;
    width: 100%;
    font-size: 1.5em;

}

.signup-label {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.signup-label a {
    padding: 0% 1.5% 0 1.5%;
    text-decoration: underline;
    color: white;
}
